.parent.dark .parnet-sections .section-one img {
    background-color: white;
}

.parent.dark .parnet-sections .section-two .foot .bord .content,
.parent.dark .section-three .row .content .bord,
.parent.dark .parnet-sections .section-one .main-img {
    box-shadow: none;
}

.parent.dark .section-four .content .grid .bord {
    padding: 10px;
}

.parent.dark .section-four .content .grid .bord,
.parent.dark .parnet-sections .section-two .foot .bord .content,
.parent.dark .section-three .row .content .bord,
.parent.dark .section-five .content .foot input,
.parent.dark .section-five .content .foot textarea,
.parent.dark .sidebar{
    border: none;
}

.parent.dark .parnet-sections .section {
    background-color: var(--BCDark-dark);
}


.parent.dark .section-two .foot .bord .content,
.parent.dark .section-three .row .content .bord,
.parent.dark .section-four .content .grid .bord,
.parent.dark .section-five .content .foot input,
.parent.dark .section-five .content .foot textarea,
.parent.dark .section-five .content .head .bord {
    background-color: var(--BCLight-dark);
}
.parent.dark .sidebar li a{
    background-color: var(--heading-light);
}
.parent.dark .section-one .dynamic-txts li span::after{
    background: var(--BCDark-dark);
}
.parent.dark .topnav,
.parent.dark .sidebar{
    border-right:1px solid var(--BCLight-dark);
    background-color: var(--SlideDark);
}
.parent.dark .sidebar li a i,
.parent.dark .sidebar li a .links_name,
.parent.dark .sidebar .logo-details .logo_name,
.parent.dark .parnet-sections .topnav #btn,
.parent.dark .parnet-sections .section h1,
.parent.dark .parnet-sections .section p,
.parent.dark .parnet-sections .section .wrapper .static-txt,
.parent.dark .parnet-sections .section i,
.parent.dark .parnet-sections .section h4,
.parent.dark .parnet-sections .section span,
.parent.dark .parnet-sections .section-two .foot .bord .content .txt span i,
.parent.dark .section-four .content .filter-list ul li,
.parent.dark .nav-bar h1,
.parent.dark .nav-bar .row li[class="heading"],
.parent.dark .section-five .content .foot input,
.parent.dark .section-five .content .foot textarea {
    color: white;
}
.parent.dark .sidebar .logo-details .icon{
    content: url("../imgs/logoDark.png");
}