/*start head row*/
.parent .parnet-sections .section-two .head h4 {
    font-size: 25px;
}
.parent .parnet-sections .section-two .head .boxAbout {
    border-radius: 20px;
    background: #f8f8f8;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 10px 10px 10px #cccccc,
    10px 10px 10px #ffffff,
    0 0 0 #cccccc inset,
    0 0 0 #ffffff inset;
}
.parent .parnet-sections .section-two .head .boxAbout .buttons {
    margin-top: 30px;
}

.parent .parnet-sections .section-two .head .boxAbout .buttons button {
    background-color: var(--blueColor);
    color: white;
    border: none;
    outline: none;
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.parent .parnet-sections .section-two .head .boxAbout .buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.parent .parnet-sections .section-two .head h3 span {
    color: var(--blueColor);
}

.parent .parnet-sections .section-two .head p.text {
    line-height: 1.8em;
}

.parent .parnet-sections .section-two .head .content {
    width: 100%;
}
.parent .parnet-sections .section-two .head{
    display: block;
}
.parent .parnet-sections .section-two .head .content .bord.one{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent .parnet-sections .section-two .head .content .bord.one .data {
    width: 47%;
}

.parent .parnet-sections .section-two .head .content .bord.one .data p {
    padding:0 0 15px 0;
    border-bottom: 1px solid var(--borderLight-light);
}

.parent .parnet-sections .section-two .head .content .bord.one .data p span {
    margin-left: 10px;
}

.parent .parnet-sections .section-two .head .content .bord.two{
    padding: 10px;
    text-align: center;
    display: inline-block;
    align-items: center;
    width: 100%;
}
.parent .parnet-sections .section-two .head .content .bord.two .data{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parent .parnet-sections .section-two .container .row.head .content .bord.two .data .raw {
    margin-top: 20px;
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(81px, 1fr));
    grid-template-rows: repeat(1, auto);
    gap: 10px;
}
.parent .parnet-sections .section-two .container .row.head .content .bord.two .data .raw .column {
    width: 80px;
    height: 80px;
}
.parent .parnet-sections .section-two .container .row.head .content .bord.two .data .raw .column img{
    width: 100%;
    height: 100%;
}
/*start head row*/
/*start foot row*/
.parent .parnet-sections .section-two .row.foot {
    flex-direction: row;
    display: flex;
    justify-content: space-between !important;
} 

.parent .parnet-sections .section-two .foot .bord {
    width: 45%;
    margin-bottom:40px;
}

.parent .parnet-sections .section-two .foot .bord h2 {
    padding: 20px 0;
    text-align: center;
}

.parent .parnet-sections .section-two .foot .bord .timeline-content {
    text-align: center;
    max-width: 100%;
}
/* Timeline */
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline {
    border-left: 4px solid var(--blueColor);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--whiteColor2);
    color: var(--Dark3Color);
    box-shadow: 0 0 15px 0px var(--boxShadow);
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    float: right;
    max-width: 90%;
}
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline h1,
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline h2,
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline .event {
    border-bottom: 1px dashed rgba(48, 46, 77, 0.48);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.parent .parnet-sections .section-two .foot .bord .timeline-content .timeline .event .eventData::before{
    content: attr(data-date);
    position: absolute;
    display: block;
    padding: 4px 6px;
    background-color: var(--blueColor);
    color: #fff;
    font-size: 0.9em;
    border-radius: 4px;
    z-index: 999;
    top: -40px;
    left: -54px;
}

/*end foot row*/