/*start head row*/
.parent .parnet-sections .section-two .head h4 {
    font-size: 25px;
    margin-bottom: 15px;
}
.parent .parnet-sections .section-two .head .boxAbout {
    border-radius: 20px;
    background: #f8f8f8;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 10px 10px 10px #cccccc,
    10px 10px 10px #ffffff,
    0 0 0 #cccccc inset,
    0 0 0 #ffffff inset;
}
.parent .parnet-sections .section-two .head .boxAbout .buttons {
    margin-top: 30px;
}

.parent .parnet-sections .section-two .head .boxAbout .buttons button {
    background-color: var(--blueColor);
    color: white;
    border: none;
    outline: none;
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.parent .parnet-sections .section-two .head .boxAbout .buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.parent .parnet-sections .section-two .head h4 span {
    color: var(--blueColor);
}

.parent .parnet-sections .section-two .head p.text {
    line-height: 1.8em;
}

.parent .parnet-sections .section-two .head .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.parent .parnet-sections .section-two .head{
    display: block;
}
.parent .parnet-sections .section-two .head .content .bord.one{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent .parnet-sections .section-two .head .content .bord.one .data {
    width: 47%;
}

.parent .parnet-sections .section-two .head .content .bord.one .data p {
    padding:0 0 15px 0;
    border-bottom: 1px solid var(--borderLight-light);
}

.parent .parnet-sections .section-two .head .content .bord.one .data p span {
    margin-left: 10px;
}



.parent .parnet-sections .section-two .head .content .bord.two{
    width: 37%;
}
.parent .parnet-sections .section-two .head .content .bord.two .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.parent .parnet-sections .section-two .head .content .bord.two .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
}

.parent .parnet-sections .section-two .head .content .bord.two .skill-bar{
    height: 10px;
    background: #cacaca;
    border-radius: 6px;
}

.parent .parnet-sections .section-two .head .content .bord.two .skill-per{
    height: 10px;
    background-color: var(--blueColor);
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
    border-radius: 6px;
    width: 0;
    transition: 1s linear;
    position: relative;
}

.parent .parnet-sections .section-two .head .content .bord.two .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: var(--blueColor);
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.parent .parnet-sections .section-two .head .content .bord.two .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--blueColor);
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}
/*start head row*/
/*start foot row*/
.parent .parnet-sections .section-two .row.foot {
    flex-direction: row;
    display: flex;
    justify-content: space-between !important;
} 

.parent .parnet-sections .section-two .foot .bord {
    width: 49%;
    margin-bottom:40px;
}

.parent .parnet-sections .section-two .foot .bord h1 {
    padding: 20px 0;
}

.parent .parnet-sections .section-two .foot .bord .content {
    box-shadow: 0 0 15px 0px var(--boxShadow);
    padding: 25px 40px;
    position: relative;
    border-radius: 5px;
}

.parent .parnet-sections .section-two .foot .bord .content hr {
    position: absolute;
    left: 20px;
    top:50%;
    height: 90%;
    width: 1px;
    transform: rotate(0deg) translateY(-50%);
    background-color: var(--blueColor);
    margin: 0;
}

.parent .parnet-sections .section-two .foot .bord .content .txt:not(:last-child) {
    margin-bottom: 60px;
}

.parent .parnet-sections .section-two .foot .bord .content .txt {
    position: relative;
}

.parent .parnet-sections .section-two .foot .bord .content .txt .red-disc {
    position: absolute;
    left: -24.2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blueColor);
}

.parent .parnet-sections .section-two .foot .bord .content .txt span i {
    margin:0 10px 15px 0;
    color: gray;
}

.parent .parnet-sections .section-two .foot .bord .content .txt p {
    margin-bottom: 0;
}
/*end foot row*/
#timeline-content {
    text-align: center;
    max-width: 100%;
}
/* Timeline */
.timeline {
    border-left: 4px solid #4298C3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    float: right;
    max-width: 90%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
.timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}