@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
.parent .section-four {
    position: relative;
}
.parent .section-four .content {
    width: 100%;
}
.parent .parnet-sections .section-four .head{
    display: block;
}
.parent .section-four .content .filter-list ul {
    text-align: center;
    margin-bottom: 20px;
}
.parent .section-four .content .filter-list ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 5px;
}

.parent .section-four .content .filter-list ul li.active,
.parent .section-four .content .filter-list ul li:hover {
    border-bottom: 3px solid var(--blueColor);
    border-bottom-color: var(--blueColor);
}

.parent .section-four .content .grid {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    justify-content: space-between;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.parent .section-four .content .grid.short{
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
    padding: 0;
    justify-content: flex-start;
}


.parent .section-four .content .grid .bord {
    border: 1px solid var(--borderDark-light);
    background-color: white;
    max-height: 300px;
    max-width: 550px;
    border-radius: 4px;
}

.parent .section-four .content .grid .bord img {
    width: 100%;
    height: 100%;
}

.parent .section-four .content .grid .bord .info {
    width: 100%;
    height: 100%;
    transition:0.5s ease-in-out opacity;
}

.parent .section-four .content .grid .bord .info i {
    right: 0;
    bottom:10%;
    width: 55px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    color:var(--blueColor)
}

.parent .section-four .container .over-lay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    position:fixed;
    z-index:1;
    top:0;
    right: 0;
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
/************************/
.parent .section-four .content .grid li {
    -webkit-perspective: 700px;
    perspective: 700px; }

.parent .section-four .content .grid .info {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    width: 100%;
    height: 100%;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background-color:rgba(33, 150, 243, 0.9); }

.in-top .info {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: in-top 300ms ease 0ms 1 forwards;
    animation: in-top 300ms ease 0ms 1 forwards; }

.in-right .info {
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: in-right 300ms ease 0ms 1 forwards;
    animation: in-right 300ms ease 0ms 1 forwards; }

.in-bottom .info {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
    animation: in-bottom 300ms ease 0ms 1 forwards; }

.in-left .info {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: in-left 300ms ease 0ms 1 forwards;
    animation: in-left 300ms ease 0ms 1 forwards; }

.out-top .info {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: out-top 300ms ease 0ms 1 forwards;
    animation: out-top 300ms ease 0ms 1 forwards; }

.out-right .info {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: out-right 300ms ease 0ms 1 forwards;
    animation: out-right 300ms ease 0ms 1 forwards; }

.out-bottom .info {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
    animation: out-bottom 300ms ease 0ms 1 forwards; }

.out-left .info {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: out-left 300ms ease 0ms 1 forwards;
    animation: out-left 300ms ease 0ms 1 forwards; }

@-webkit-keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
        transform: rotate3d(-1, 0, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
        transform: rotate3d(-1, 0, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@-webkit-keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
        transform: rotate3d(0, -1, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@-webkit-keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@-webkit-keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@keyframes in-left {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg); }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); } }
@-webkit-keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(-1, 0, 0, 120deg);
        transform: rotate3d(-1, 0, 0, 120deg); } }
@keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(-1, 0, 0, 120deg);
        transform: rotate3d(-1, 0, 0, 120deg); } }
@-webkit-keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(0, -1, 0, 120deg);
        transform: rotate3d(0, -1, 0, 120deg); } }
@keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(0, -1, 0, 120deg);
        transform: rotate3d(0, -1, 0, 120deg); } }
@-webkit-keyframes out-bottom {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(1, 0, 0, 120deg);
        transform: rotate3d(1, 0, 0, 120deg); } }
@keyframes out-bottom {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(1, 0, 0, 120deg);
        transform: rotate3d(1, 0, 0, 120deg); } }
@-webkit-keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(0, 1, 0, 120deg);
        transform: rotate3d(0, 1, 0, 120deg); } }
@keyframes out-left {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg); }
    to {
        -webkit-transform: rotate3d(0, 1, 0, 120deg);
        transform: rotate3d(0, 1, 0, 120deg); } }
/* ========================================================================
  styles for demo purposes
======================================================================== */

.parent .section-four .content .grid li {
    border: 1px solid var(--borderDark-light);
    background-color: white;
    padding: 7px;
    position: relative;
    overflow:hidden;
    max-height: 600px;
    max-width: 300px;
    float: left;
    width: 400px;
    height: 600px;
    margin: 7px;
    list-style: none; }
.parent .section-four .content .grid li a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-radius: 4px; }
.parent .section-four .content .grid li h2 {
    margin: 0;

    color: rgba(255, 255, 255, 0.9); }
.parent .section-four .content .grid li p {
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8); }

/******************************************************/
.parent .section-four .over-lay .slider.mobile {
    width:300px;
    padding: 63px;
    overflow: visible;
}
.parent .section-four .over-lay .slider.web {
    width:50%;
    padding: 80px;
    overflow: visible;
}
.parent .section-four .over-lay .slider.desktop {
    width:50%;
    padding: 80px;
    overflow: visible;
}
.parent .section-four .over-lay .slider {
    width:100%;
    overflow: visible;
}
.parent .section-four .over-lay .slider img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}
.parent .section-four .over-lay .slider .VideoProj{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
    width: 100%    !important;
    height: auto   !important;
}
.parent .section-four .over-lay .close {
    position: absolute;
    right: 32px;
    top: 60px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.parent .section-four .over-lay .close:hover {
    opacity: 1;
}
.parent .section-four .over-lay .close:before, .parent .section-four .over-lay .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.parent .section-four .over-lay .close:before {
    transform: rotate(45deg);
}
.parent .section-four .over-lay .close:after {
    transform: rotate(-45deg);
}

/********************   ************/
.parent .section-four .content .grid .bord .info .box{
    align-self: center;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent .section-four .content .grid .bord .info .box .btn:link,
.parent .section-four .content .grid .bord .info .box .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    padding:2px 10px;
    border-radius:50px;
    display:inline-block;
    transition: all .5s;
}

.parent .section-four .content .grid .bord .info .box .btn-white{
    background:#fff;
    color:#000;
}

.parent .section-four .content .grid .bord .info .box .btn:hover{
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    transform : translateY(-3px);
}

.parent .section-four .content .grid .bord .info .box .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
}

.parent .section-four .content .grid .bord .info .box .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
}

.parent .section-four .content .grid .bord .info .box .btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    right:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
}

.parent .section-four .content .grid .bord .info .box .btn-white::after {
    background: #fff;
}

.parent .section-four .content .grid .bord .info .box .btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
    0%{
        opacity:0;
        transform:translateY(40px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
/*****************************/
.parent .section-four .content .grid .bord .info .button__holder {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.parent .section-four .content .grid .bord .info .button__holder:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 5%;
    left: 5%;
}
.parent .section-four .content .grid .bord .info .button__holder .plus {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    color: var(--blueColor);
    background: #FFFF;
    border-radius: 50%;
    border: none;

}

.parent .section-four .content .grid .bord .info .button__holder .plus:hover {
    transform: rotate(45deg);
    box-shadow: 0 0 1px 15px rgba(255, 255, 255, 0.4), 0 0 1px 30px rgba(255, 255, 255, 0.1), 0 0 1px 45px rgba(255, 255, 255, 0.1);
}